/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
  color: rgb(35, 31, 32);
  background-color: #f2f2f2;
  letter-spacing: 0.085rem;
  font: "Source Sans Pro", "Hiragino Sans GB", "Microsoft JhengHei", arial,
    helvetica, sans-serif;
}

.btn.disabled,
.btn:disabled {
  opacity: none;
}
