.nav-color {
  background-color: rgb(35, 31, 32);
  font: 700 1rem/1rem "Source Sans Pro", "Hiragino Sans GB",
    "Microsoft JhengHei", arial, helvetica, sans-serif;
  font-style: normal;
}

.title {
  font-size: 1rem;
  border-left: 0.2rem solid rgb(115, 115, 115);
  padding: 0px 0px 0.1rem 1rem;
  margin: 0px 0px 0.2rem 1rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255);
}

.navbar-brand > img {
  width: 4rem;
}

.nav-link {
  cursor: pointer;
}

.head-description {
  font-size: 0.9rem;
}

.navbar {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.active {
  color: #76cdd8 !important;
}

.user_name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: -2rem;
  text-align: center;
}

.dropdown-toggle::after {
  content: none !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #000000 !important;
  background-color: #76cdd8 !important;
}

.dropdown-item {
  line-height: 1.8em;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.ul {
  padding-top: -10px;
}

.fa-2x {
  font-size: 1.75em;
}
.badge {
  position: absolute;
  margin: 0 auto;
  padding: 3px 6px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 10px;
}

.nav-link:hover {
  color: #76cdd8 !important;
}
